<mat-card class="mat-card">
  <mat-card-content #content style="height:80%; overflow-y: scroll" [scrollTop]="content.scrollHeight">
    <mat-list>
      <mat-list-item *ngFor="let message of messages">
        <mat-icon matListIcon>{{ message.userType == 'system' ? 'toll' : 'account_circle'}}</mat-icon>
        <h3 matLine>{{message.user}}</h3>
        <h6>{{message.localTime}}</h6>
        <p matLine> {{message.content}} </p>

        <span matLine> </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions style="height:20%">
    <form (ngSubmit)="sendMessage()" #messageForm="ngForm">

      <mat-form-field style="width:70%">
        <textarea id="msgBox" 
          #msgBox matInput 
          type="text" 
          placeholder="Message" 
          name="message" 
          [(ngModel)]="message" 
          autocomplete="off"></textarea>
        <mat-hint>Press Send/Enter to send message.</mat-hint>
      </mat-form-field>
        <button  mat-button type="submit" [disabled]="msgBox.value?.length <= 0">Send</button>
    </form>


  </mat-card-actions>
</mat-card>